.footer {
    background-image: url("../assets/Footer-background.png");
    height: 100%;
    background-size: contain;
    color: white;
}



.footer-links-div a{
text-decoration: none;
color: white;
}