.navbar {
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  margin-left: 40px;
  margin-right: 40px;
}

.logo {
  font-size: 30px;
}

.navbar-center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}



.navbar-center li {
  list-style: none;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
  transition: 0.3s ease-in-out;
}

.navbar-center li a {
  text-decoration: none;
  color: black;
}

.navbar-center li:hover::after,
.navbar-center li.nav-active::after {
  content: "";
  width: 50%;
  height: 3px;
  background: #947EC4;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.Navbar-left {
  display: flex;
  justify-content: space-between;
}

.icon-navbar {
  width: 30px;
  height: 30px;
  margin-right: 10px;

}

.Icono-Menu-mobile {
  background: none;
  border: none;
  font-size: 20px;
  padding-right: 30px;
}

.Icon-Mobile {
  width: 30px;
  height: 30px;
}



@media (min-width: 768px) {
  .Icono-Menu-mobile {
    display: none;
  }

}


@media (max-width:769px) {
  .logo {
    display: flex;
    top: 15px;
    left: 40px;
  }

  .Iconos {
    padding-right: 90px;
  }

  .navbar-center {
    display: none;
  }

  .navbar-center-mobile {
    align-items: flex-start;
    justify-content: flex-start;
    width: 143px;
    height: 100px;
    top: 97px !important;
    left: 68% !important;
    display: flex;
    position: absolute;
    flex-direction: column;
    list-style: none;
    box-shadow: (50, 50, 93, 0.23) 0 30px 30px -20px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    background-color: #947EC4;

  }

  .navbar-center-mobile li a {
    text-decoration: none;
    color: black;
  }


}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.horizontal-slide {
  animation: slide 8s linear infinite;

  white-space: nowrap;

  top: -5%;
  left: 6%;

  border-radius: 5px;
  color: #947EC4;
  text-align: start;
  width: 80%;
  right: 15%;
}


.image-container {
  width: auto;
    height: 68px;
    padding-left: 40px;
    margin-left: 40px;
    margin-right: 40px;

    margin-top: 19px;
  background-image: url('../assets/Modales/RayaNegraAnuncios.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 20px;
}


.div2 {
  position: relative;
  justify-content: center;
  text-align: center;
  
}


.div3 {
  width: 94%;
  position: absolute;
  overflow: hidden;
  margin: auto;
  left: 3%;
  top: -1vh;
}